<div class="fondo">
    <div class="container text-center text-light mb-4">
        <h1>Nuestros productos</h1>
    </div>
    <div class="row row-cols-1 row-cols-md-2 g-4">
        <div class="col" *ngFor="let productos of listProducto">
          <div class="card ms-4 me-4 mb-5">
            <img src="{{ productos.RutaImg}}" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">{{ productos.Nombre}}</h5>
              <p class="card-text">{{ productos.Descripcion}}</p>
              <p class="card-text">{{ productos.Precio}}</p>
              <div class="d-flex justify-content-end">
                <button class="btn text-white">Ver mas</button>
              </div>
            </div>
          </div>
        </div>
      </div>
</div>
