<div class="fondo">
    <div class="container text-center text-light mb-4">
        <h1>Nuestros productos</h1>
    </div>
    <div class="row row-cols-1 row-cols-md-2 g-4">
        <div class="col">
          <div class="card ms-5">
            <img src="assets/img/producto-1.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Nissan X-Trail e-POWER</h5>
              <p class="card-text">Por fin, la tecnología e-POWER de Nissan entra a Colombia con su primer modelo, el nuevo X-Trail. Viene en dos versiones, con tracción sencilla o doble.</p>
              <div class="d-flex justify-content-end">
                <button class="btn text-white">Ver mas</button>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card me-5">
            <img src="assets/img/producto-2.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Mercedes-Benz GLC 2023</h5>
              <p class="card-text">Ya está en Colombia la segunda generación del Mercedes-Benz GLC, en una única versión. Cuenta con mejoras tecnológicas y sistema Mild Hybrid 48V.</p>
              <div class="d-flex justify-content-end">
                <button class="btn text-white">Ver mas</button>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card ms-5 mb-5">
            <img src="assets/img/producto-3.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">SsangYong Actyon Torres</h5>
              <p class="card-text">Inició la preventa del SsangYong Actyon Torres en Colombia. Será alternativa a Toyota RAV4, Mazda CX-50, Kia Sportage y Nissan X-Trail, entre otros.</p>
              <div class="d-flex justify-content-end">
                <button class="btn text-white">Ver mas</button>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card me-5">
            <img src="assets/img/producto-4.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Jeep Grand Cherokee L</h5>
              <p class="card-text">La Jeep Grand Cherokee L llegó a Colombia. Es una variante con espacio para siete ocupantes de este SUV, con motor V6 de 3.6 litros y mucho lujo a bordo.</p>
              <div class="d-flex justify-content-end">
                <button class="btn text-white">Ver mas</button>
              </div>
            </div>
          </div>
        </div>
      </div>
</div>
