<app-menu-lateral></app-menu-lateral>

<section class="container">
    <h1 class="text-center my-5">Editar Contactos</h1>
    <div class="d-flex justify-content-end mb-3">
        <button class="btn text-white mt-3" routerLink="/listar-contacto"><b>Regresar a lista contactos</b></button>
    </div>
    <div>
        <form [formGroup]="formContacto" (ngSubmit)="editarContacto()">
            <div class="form-floating mb-3">
                <input type="text" formControlName="Nombres" class="form-control" id="Nombres" placeholder="name@example.com">
                <label for="Nombres">Nombres</label>
                <span *ngIf="formContacto.get('Nombres')?.hasError('required') && formContacto.get('Nombres')?.touched" class="text-danger fw-bold">El campo de los Nombres es obligatorio</span>
              </div>
              <div class="form-floating mb-3">
                <input type="text" formControlName="Apellidos" class="form-control" id="Apellidos" placeholder="name@example.com">
                <label for="Apellidos">Apellidos</label>
                <span *ngIf="formContacto.get('Apellidos')?.hasError('required') && formContacto.get('Apellidos')?.touched" class="text-danger fw-bold">El campo de los Apellidos es obligatorio</span>
              </div>
              <div class="form-floating mb-3">
                <input type="email" formControlName="Correo" class="form-control" id="Correo" placeholder="Password">
                <label for="Correo">Correo</label>
                <span *ngIf="formContacto.get('Correo')?.hasError('required') && formContacto.get('Correo')?.touched" class="text-danger fw-bold">El campo de el Correo es obligatorio</span>
                <span *ngIf="formContacto.get('Correo')?.hasError('pattern') && formContacto.get('Correo')?.touched" class="text-danger fw-bold">El campo de el Correo es invalido</span>
              </div>
              <div class="form-floating mb-3">
                <input type="text" formControlName="Telefono" class="form-control" id="Telefono" placeholder="Password">
                <label for="Telefono">Telefono</label>
                <span *ngIf="formContacto.get('Telefono')?.hasError('required') && formContacto.get('Telefono')?.touched" class="text-danger fw-bold">El campo de el Telefono es obligatorio</span>
                <span *ngIf="formContacto.get('Telefono')?.hasError('pattern') && formContacto.get('Telefono')?.touched" class="text-danger fw-bold">El campo de el Telefono es invalido</span>
            </div>
              <div class="form-floating mb-3">
                <select class="form-select" id="Ciudad" formControlName="Ciudad" aria-label="Floating label select example" >
                    <option selected>Seleccione una Ciudad</option>
                    <option value="Bogota">Bogota</option>
                    <option value="Cali">Cali</option>
                    <option value="Medellin">Medellin</option>
                    <option value="Cartagena">Cartagena</option>
                </select>
                <label for="Ciudad">Ciudad</label>
                <span *ngIf="formContacto.get('Ciudad')?.hasError('required') && formContacto.get('Ciudad')?.touched" class="text-danger fw-bold">El campo de la Ciudad es obligatorio</span>
            </div>
            <div class="form-floating mb-3">
                <textarea class="form-control" formControlName="Mensaje" placeholder="Leave a comment here" id="Mensaje" style="height: 120px"></textarea>
                <label for="Mensaje">Dejanos tu mensaje</label>
                <span *ngIf="formContacto.get('Mensaje')?.hasError('required') && formContacto.get('Mensaje')?.touched" class="text-danger fw-bold">El campo de el Mensaje es obligatorio</span>
            </div>
            <div class="d-flex justify-content-end mb-4">
                <button type="submit" class="btn text-white" [disabled]="formContacto.invalid">enviar</button>
            </div>
        </form>
    </div>
</section>
