<div class="container my-5">
    <div class="d-flex justify-content-center align-items-center row">
        <div class="card mb-3">
            <div class="row g-0">
                <div class="col-md-4">
                    <img src="assets/img/cicla1.jpg" width="550px" class="img-fluid rounded-start" id="imgProductoUsuario" alt="...">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h2 class="card-title">Bicicleta KTM ULTRA SPORT 2021</h2>
                        <h3>$ 5.200.000</h3>
                        <p class="card-text">KTM nos presenta este 2021 la gama Ultra, una bici pensada para que los
                            amantes de la bici de montaña puedan realizar su deporte favorito al mejor precio, sin
                            renunciar a tener una bici de calidad..</p>
                        <h4>Confort</h4>
                        <p>El cuadro parece tener la fórmula adecuada para absorber muy bien las vibraciones y te
                            permitirá sumar kilómetros y kilómetros sin que tu espalda se vea penalizada, con un buen
                            equilibrio entre adherencia y absorción.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
