<div class="fondo">
    <div>
        <div class="container">
            <div class="text-center text-light py-3 mb-3">
                <h1>Lo mas esperado este 2023</h1>
            </div>
            <div id="carouselExampleFade" class="carousel slide carousel-fade mb-3" data-bs-ride="carousel">
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <img src="assets/img/slider-1.webp" class="d-block w-100" alt="...">
                  </div>
                  <div class="carousel-item">
                    <img src="assets/img/slider-2.webp" class="d-block w-100" alt="...">
                  </div>
                  <div class="carousel-item">
                    <img src="assets/img/slider-3.jpeg" class="d-block w-100" alt="...">
                  </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </button>
              </div>
              <h2 class="text-center text-light mb-3">No lo pienses mas y compra el carro de tus sueños</h2>
              <div class="row row-cols-1 row-cols-md-2 g-4">
                <div class="col">
                  <div class="card mb-4">
                    <img src="assets/img/carta-1.webp" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Chevrolet Corvette Z06</h5>
                      <p class="card-text"> permite acelerar a 60 millas por hora en solo 2.6 segundos. Su precio comienza en $105,000 dólares.</p>
                      <div class="d-flex justify-content-end">
                        <button class="btn text-white ms-auto">obtener</button>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col">
                  <div class="card">
                    <img src="assets/img/carta-2.jpeg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Card title</h5>
                      <p class="card-text">. Este deportivo debería comenzar a llegar a los concesionarios de la marca durante el segundo semestre con un precio cercano a $35,000 dólares.</p>
                      <div class="d-flex justify-content-end">
                          <button class="btn text-white">obtener</button>
                      </div>
                    </div>
                  </div>
                </div>
        </div>
    </div>
</div>


