<body class="fondo">
    <div class="container pb-5">
        <h1 class="text-center text-light mb-5">contactanos</h1>
        <div class="row">
            <div class="col-6">
                <div class="accordion accordion-flush" id="accordionFlushExample">
                    <div class="accordion-item">
                      <h2 class="accordion-header" id="flush-headingOne">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                            Horario de Atención al Cliente
                        </button>
                      </h2>
                      <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">Lunes a viernes de 7:30 am. a 7:30 pm.
                            Sábados de 8:00 am. a 1:30 pm.</div>
                      </div>
                    </div>
                    <div class="accordion-item">
                      <h2 class="accordion-header" id="flush-headingTwo">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                            Llámanos desde tu fijo Nacional o Local al
                        </button>
                      </h2>
                      <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">028000-191765</div>
                      </div>
                    </div>
                    <div class="accordion-item">
                      <h2 class="accordion-header" id="flush-headingThree">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                            Desde tu celular al
                        </button>
                      </h2>
                      <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">(57)-310-748-64-50</div>
                      </div>
                    </div>
                  </div>
            </div>
            <div class="col-6">
                <form [formGroup]="formContacto" (ngSubmit)="agregarContacto()">
                    <div class="form-floating mb-3">
                        <input type="text" formControlName="Nombres" class="form-control" id="floatingInput" placeholder="name@example.com">
                        <label for="floatingInput">Nombres</label>
                        <span *ngIf="formContacto.get('Nombres')?.hasError('required') && formContacto.get('Nombres')?.touched" class="text-danger fw-bold">El campo de los Nombres es obligatorio</span>
                      </div>
                      <div class="form-floating mb-3">
                        <input type="text" formControlName="Apellidos" class="form-control" id="floatingInput" placeholder="name@example.com">
                        <label for="floatingInput">Apellidos</label>
                        <span *ngIf="formContacto.get('Apellidos')?.hasError('required') && formContacto.get('Apellidos')?.touched" class="text-danger fw-bold">El campo de los Apellidos es obligatorio</span>
                      </div>
                      <div class="form-floating mb-3">
                        <input type="email" formControlName="Correo" class="form-control" id="floatingPassword" placeholder="Password">
                        <label for="floatingPassword">Correo</label>
                        <span *ngIf="formContacto.get('Correo')?.hasError('required') && formContacto.get('Correo')?.touched" class="text-danger fw-bold">El campo de el Correo es obligatorio</span>
                        <span *ngIf="formContacto.get('Correo')?.hasError('pattern') && formContacto.get('Correo')?.touched" class="text-danger fw-bold">El campo de el Correo es invalido</span>
                      </div>
                      <div class="form-floating mb-3">
                        <input type="text" formControlName="Telefono" class="form-control" id="floatingPassword" placeholder="Password">
                        <label for="floatingPassword">Telefono</label>
                        <span *ngIf="formContacto.get('Telefono')?.hasError('required') && formContacto.get('Telefono')?.touched" class="text-danger fw-bold">El campo de el Telefono es obligatorio</span>
                        <span *ngIf="formContacto.get('Telefono')?.hasError('pattern') && formContacto.get('Telefono')?.touched" class="text-danger fw-bold">El campo de el Telefono es invalido</span>
                    </div>
                      <div class="form-floating mb-3">
                        <select class="form-select" id="floatingSelect" formControlName="Ciudad" aria-label="Floating label select example" >
                            <option selected>Seleccione una Ciudad</option>
                            <option value="Bogota">Bogota</option>
                            <option value="Cali">Cali</option>
                            <option value="Medellin">Medellin</option>
                            <option value="Cartagena">Cartagena</option>
                        </select>
                        <label for="floatingSelect">Ciudad</label>
                        <span *ngIf="formContacto.get('Ciudad')?.hasError('required') && formContacto.get('Ciudad')?.touched" class="text-danger fw-bold">El campo de la Ciudad es obligatorio</span>
                    </div>
                    <div class="form-floating mb-3">
                        <textarea class="form-control" formControlName="Mensaje" placeholder="Leave a comment here" id="floatingTextarea2" style="height: 120px"></textarea>
                        <label for="floatingTextarea2">Dejanos tu mensaje</label>
                        <span *ngIf="formContacto.get('Mensaje')?.hasError('required') && formContacto.get('Mensaje')?.touched" class="text-danger fw-bold">El campo de el Mensaje es obligatorio</span>
                    </div>
                    <div class="d-flex justify-content-end">
                        <button type="submit" class="btn text-white" [disabled]="formContacto.invalid">enviar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
